{% extends "base.html" %}
{% load static %} 
{% block title %}Post: {{ post.title_tag }} {%endblock%}

{% block content %}
<!-- Page Header-->
{% if "placeholder" in post.header_image.url %}
<header class="masthead" style="background-image: url('{% static 'images/pexels-pixabay-265072.jpg' %}')">
{% else %}   
<header class="masthead" style="background-image: url('{{ post.header_image.url }}')">
{% endif %}
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h4>{{ post.category }}</h4>
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="{% url 'show-profile' post.author.profile.id %}">{{ post.author.first_name}} {{ post.author.last_name}}</a>
                        on {{ post.post_date }}
                    </span>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <span>(<a href="{% url 'edit-post' post.pk %}">Edit</a>)</span> <span>(<a href="{% url 'delete-post' post.pk %}">Delete</a>)</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body|safe }}
                <br>
                <hr>

                <form action="{% url 'like_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike - {{ total_likes }} Likes</button>
                        {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like - {{ total_likes }} Likes</button>
                        {% endif %}
                    {% else %}
                    <p><a href="{% url 'login' %}">Login to like</a> - {{ total_likes }} Likes</p>    
                    {% endif %}
                </form>
                <hr>
                <h2>Author:</h2>
                <div class="card my-5">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                    {% if "placeholder" in post.author.profile.profile_pic %}        
                        <img class="card-image" src="{{ post.author.profile.profile_pic.url }}" width="200" height="200" alt="{{ page_user.user.first_name}} {{ page_user.user.last_name}} - profile picture">
                    {% else %}
                        <img class="card-image" src="{% static 'images/default-profile-pic-e1513291410505.jpg' %}" width="200" height="200" alt="{{ page_user.user.first_name}} {{ page_user.user.last_name}} - profile picture">    
                    {% endif %}   
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ post.author.first_name}} {{ post.author.last_name}}</h5>
                          <p class="card-text">{{ post.author.profile.bio }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <h2>Comments:</h2>
                    {% if not post.comments.all %}
                    <div class="card my-5">
                    <div class="card-body">
                      <p class="card-text">No comments yet... <a href="{% url 'add-comment' post.pk %}">Add a comment</a></p>
                    </div>
                  </div>
                            
                 {% else %}
                 <a href="{% url 'add-comment' post.pk %}">Add a comment</a>
                 {% for comment in post.comments.all %}
                 <div class="card my-5">
                    <h5 class="card-header">{{ comment.name }}</h5>
                    <div class="card-body">
                      <h5 class="card-title">{{ comment.date_added }}</h5>
                      <p class="card-text">{{ comment.body }}</p>
                    </div>
                  </div>
                 {% endfor %}
                 {% endif %}                  
            </div>
        </div>
    </div>
</article>

{%endblock%}