{% extends "base.html" %}
{% block title %}Post: {{ post.title_tag }} {%endblock%}

{% block content %}
<!-- Page Header-->
{% if "placeholder" in post.header_image.url %}
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
{% else %}   
<header class="masthead" style="background-image: url('{{ post.header_image.url }}')">
{% endif %}
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h4>{{ post.category }}</h4>
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post.author.first_name}} {{ post.author.last_name}}</a>
                        on {{ post.post_date }}
                    </span>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <span>(<a href="{% url 'edit-post' post.pk %}">Edit</a>)</span> <span>(<a href="{% url 'delete-post' post.pk %}">Delete</a>)</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body|safe }}
                <br>
                <hr>

                <form action="{% url 'like_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike - {{ total_likes }} Likes</button>
                        {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like - {{ total_likes }} Likes</button>
                        {% endif %}
                    {% else %}
                    <p><a href="{% url 'login' %}">Login to like</a> - {{ total_likes }} Likes</p>    
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</article>

{%endblock%}